@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  font-family: 'Irish Grover', system-ui; }

header {
  background-color: #37587E;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }
  header nav {
    width: 100%; }
    header nav div ul {
      margin: 0;
      display: flex;
      list-style: none;
      justify-content: space-around; }
      header nav div ul a {
        padding: 1rem;
        text-decoration: none;
        font-size: 2.3rem;
        color: #a8dff9; }
        header nav div ul a:hover {
          color: #ECB159; }

.logo {
  padding: 1%; }
  .logo img {
    width: 65px; }

.material-icons {
  font-size: 3rem;
  color: #a8dff9; }

nav #toggle, nav label {
  display: flex;
  display: none; }

/*main del index*/
.main-container {
  margin: 3% 0;
  padding: 3%;
  background-color: #a8dff9;
  display: flex;
  justify-content: space-around; }

.image-container, .text-container {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center; }
  .image-container img, .text-container img {
    width: 300px;
    border-radius: 2%;
    border: 1px solid #ECB159; }

.text-container {
  padding-top: 3%; }
  .text-container h2 {
    color: #37587E; }
  .text-container p {
    font-weight: bold; }

/*main de nuestras tablas*/
.cuerpoTablas {
  margin-bottom: 3%;
  width: 100%;
  background-color: #a8dff9; }
  .cuerpoTablas h1 {
    padding: 2%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #37587E;
    text-shadow: 1px 1px 4px whitesmoke; }
  .cuerpoTablas p {
    padding: 0 15% 3%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center; }

.fotos {
  padding: 0 3%;
  display: flex;
  justify-content: center; }
  .fotos div {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center; }
    .fotos div img {
      border: 1px solid #ECB159;
      border-radius: 2%; }
    .fotos div h2 {
      padding: 1rem;
      text-align: center;
      font-size: 2.5rem;
      color: #37587E; }
    .fotos div p {
      font-size: 1rem;
      font-weight: bold;
      text-align: center; }

/*main de galeria*/
.galeria {
  margin-bottom: 3%;
  padding: 0 3% 3% 3%;
  background-color: #a8dff9; }
  .galeria h1 {
    padding: 2%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #37587E;
    text-shadow: 1px 1px 4px whitesmoke; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-content: none;
  grid-template-areas: none;
  row-gap: 50px; }
  .grid-container img {
    width: 250px;
    border: 1px solid #ECB159;
    border-radius: 2%; }
    .grid-container img:hover {
      transform: scale(1.6); }

/*main de nosotros*/
.cuerpo-nosotros {
  margin-bottom: 3%;
  background-color: #a8dff9; }
  .cuerpo-nosotros h1 {
    padding: 2%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #37587E;
    text-shadow: 1px 1px 4px whitesmoke; }
  .cuerpo-nosotros p {
    padding: 0 15% 3%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center; }

.nosotros {
  display: flex;
  justify-content: space-evenly; }
  .nosotros div {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center; }
    .nosotros div img {
      border-radius: 2%;
      border: 1px solid #ECB159; }
    .nosotros div h2 {
      padding-top: 1rem;
      font-size: 2.5rem;
      color: #37587E; }
    .nosotros div p {
      padding-bottom: 3%;
      font-size: 1rem;
      font-weight: bold; }

/*footer*/
footer {
  margin: 0%;
  padding: 8px;
  width: 100%;
  height: 6rem;
  background-color: #ECB159;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

footer p {
  margin: 0%;
  font-size: 1.7rem;
  color: black; }

footer a img {
  margin: 0 5px;
  width: 30px; }

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .carousel-caption h1 {
    padding: 2%;
    display: flex;
    color: #37587E;
    font-size: 4rem;
    text-shadow: 1px 1px 4px whitesmoke; }
