@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  font-family: 'Irish Grover', system-ui; }

p {
  font-family: "Poppins", sans-serif; }

header {
  background-color: #37587E;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }
  header nav {
    width: 100%; }
    header nav div ul {
      margin: 0;
      display: flex;
      list-style: none;
      justify-content: space-around; }
      header nav div ul a {
        padding: 1rem;
        text-decoration: none;
        font-size: 2.3rem;
        color: #a8dff9; }
        header nav div ul a:hover {
          color: #ECB159; }

.logo {
  padding: 1%; }
  .logo img {
    width: 65px; }

.material-icons {
  font-size: 3rem;
  color: #a8dff9; }

nav #toggle, nav label {
  display: flex;
  display: none; }

/*main del index*/
.carousel-inner img {
  filter: brightness(0.5); }

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .carousel-caption h1 {
    padding: 2%;
    display: flex;
    justify-content: center;
    font-size: 4.5rem;
    color: #37587E;
    text-shadow: 1px 1px 4px whitesmoke;
    color: white; }

.main-container {
  margin: 3% 0;
  padding: 3%;
  background-color: #a8dff9;
  display: flex;
  justify-content: space-around; }

.image-container, .text-container {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center; }
  .image-container img, .text-container img {
    width: 300px;
    border-radius: 2%;
    box-shadow: 1px 1px 20px black; }

.text-container {
  padding-top: 3%; }
  .text-container h2 {
    color: #37587E; }
  .text-container p {
    font-size: 1rem; }

/*main de nuestras tablas*/
.cuerpoTablas {
  margin-bottom: 3%;
  width: 100%;
  background-color: #a8dff9; }
  .cuerpoTablas h1 {
    padding: 2%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #37587E;
    text-shadow: 1px 1px 4px whitesmoke; }
  .cuerpoTablas h2 {
    padding: 1% 10% 3% 10%; }
  .cuerpoTablas p {
    padding: 0 10%;
    font-size: 1rem; }

.cards {
  padding: 5%;
  display: flex;
  justify-content: space-around; }

.tablas {
  width: 250px;
  border-radius: 2%;
  box-shadow: 1px 1px 20px black;
  background-color: white;
  overflow: hidden; }
  .tablas img {
    width: 100%;
    object-fit: cover;
    filter: sepia(); }
    .tablas img:hover {
      filter: none;
      transition: 1500ms; }
  .tablas h2 {
    padding: 2%;
    text-align: center;
    font-size: 2.5rem;
    color: #37587E; }
  .tablas p {
    padding: 5%;
    font-size: 1rem;
    text-align: center; }

/*main de galeria*/
.galeria {
  margin-bottom: 3%;
  padding: 0 3% 3% 3%;
  background-image: linear-gradient(#37587E, #a8dff9, white); }
  .galeria h1 {
    padding: 2%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #37587E;
    text-shadow: 1px 1px 4px whitesmoke;
    color: white;
    text-shadow: 1px 1px 4px black; }
  .galeria p {
    padding: 0 10% 3%;
    font-size: 1rem;
    text-align: center;
    color: white;
    font-weight: 400;
    text-shadow: 0 0 4px #37587E; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-content: none;
  grid-template-areas: none;
  row-gap: 50px; }
  .grid-container img {
    width: 240px;
    border: 1px 1px 20px black;
    border-radius: 2%;
    transition: transform 3000ms ease; }
    .grid-container img:hover {
      transform: scale(1.2); }

/*main de nosotros*/
.cuerpo-nosotros {
  margin-bottom: 3%;
  background-color: #a8dff9; }
  .cuerpo-nosotros h1 {
    padding: 2%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #37587E;
    text-shadow: 1px 1px 4px whitesmoke; }
  .cuerpo-nosotros p {
    padding: 0 12% 3%;
    font-size: 1rem;
    text-align: center; }

.nosotros {
  display: flex;
  justify-content: space-evenly; }
  .nosotros div {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center; }
    .nosotros div img {
      border-radius: 2%;
      box-shadow: 1px 1px 20px black; }
    .nosotros div h2 {
      padding-top: 1rem;
      font-size: 2.5rem;
      color: #37587E; }
    .nosotros div p {
      padding: 0 0 3% 0;
      font-size: 1rem; }

/*main de contacto*/
.cuerpo-contacto {
  margin-bottom: 3%;
  background-image: url(../assets/img/contacto-fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .cuerpo-contacto h1 {
    padding: 2%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #37587E;
    text-shadow: 1px 1px 4px whitesmoke; }

/*formulario*/
form {
  display: flex;
  justify-content: center;
  padding-bottom: 3%; }
  form fieldset {
    width: 40%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.308);
    border: none; }
    form fieldset div {
      padding: 2%;
      font-size: 1rem;
      color: white;
      text-shadow: 1px 1px 4px black; }
      form fieldset div label {
        display: flex; }
      form fieldset div input {
        width: 400px;
        height: 32px; }
      form fieldset div select {
        width: 400px;
        height: 32px; }
      form fieldset div textarea {
        width: 400px;
        height: 160px; }
      form fieldset div .submit {
        width: 400px;
        height: 32px;
        background-color: #a8dff9;
        border: #a8dff9;
        font-family: 'Irish Grover', system-ui;
        font-size: 1rem; }

/*footer*/
footer {
  margin: 0%;
  padding: 8px;
  width: 100%;
  height: 6rem;
  background-color: #ECB159;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

footer h3 {
  margin: 0%;
  font-size: 1.7rem;
  color: black; }

footer a img {
  margin: 0 5px;
  width: 30px; }

/* MEDIA QUERIES */
/* TABLET */
@media (max-width: 1023px) {
  .grid-container {
    row-gap: 30px; }
    .grid-container img {
      width: 200px; }
  .cards {
    justify-content: space-between; }
  /* contacto */
  form fieldset {
    width: 50%; } }

@media (max-width: 900px) {
  /* galeria */
  .grid-container {
    row-gap: 20px; }
    .grid-container img {
      width: 180px; }
  .tablas {
    width: 210px; }
  /* contacto */
  form fieldset {
    width: 60%; } }

@media (max-width: 768px) {
  /* header */
  header .logo {
    align-self: flex-start; }
    header .logo img {
      width: 50px; }
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden; }
  nav ul {
    flex-direction: column;
    align-items: flex-end;
    padding: 8px; }
    nav ul li a {
      font-size: 2rem; }
  nav label {
    padding: 1%;
    display: flex;
    justify-content: end;
    cursor: pointer; }
  nav #toggle:checked ~ .menu {
    height: 100%; }
  /* index */
  .carousel-caption h1 {
    padding: 1%;
    font-size: 3rem; }
  .image-container img, .text-container img {
    width: 250px; }
  .text-container h2 {
    font-size: 1.3rem; }
  .text-container p {
    font-size: 0.8rem; }
  /* tablas */
  .cuerpoTablas h1 {
    padding: 1%;
    font-size: 2.5rem; }
  .cuerpoTablas h2 {
    font-size: 1.5rem; }
  .cuerpoTablas p {
    font-size: 0.8rem; }
  .tablas {
    width: 190px; }
  h2 {
    font-size: 2rem; }
  p {
    font-size: 0.8rem; }
  /* galeria */
  .galeria h1 {
    padding: 1%;
    font-size: 2.5rem; }
  .grid-container img {
    width: 150px; }
  /* nosotros */
  .cuerpo-nosotros div h1 {
    padding: 1%;
    font-size: 2.5rem; }
  .cuerpo-nosotros div p {
    font-size: 0.8rem; }
  .nosotros div {
    width: 220px; }
    .nosotros div img {
      width: 220px; }
    .nosotros div h2 {
      font-size: 1.3rem; }
    .nosotros div p {
      font-size: 0.8rem; }
  /* contacto */
  .cuerpo-contacto h1 {
    padding: 1%;
    font-size: 2.5rem; }
  form fieldset {
    width: 65%; }
  /* footer */
  footer {
    height: 5rem; }
    footer h3 {
      font-size: 1.5rem; }
    footer a img {
      width: 25px; } }

@media (max-width: 675px) {
  /* tablas */
  .cuerpoTablas h2 {
    font-size: 1.3rem; }
  .tablas {
    width: 165px; }
  /* galeria */
  .galeria h1 {
    font-size: 2rem; }
  .grid-container {
    padding: 3%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 32px; }
    .grid-container img {
      width: 180px; }
  /* contacto */
  .cuerpo-contacto {
    height: 85vh; }
  form fieldset {
    width: 75%; } }

@media (max-width: 576px) {
  /* header */
  header .logo img {
    width: 40px; }
  .material-icons {
    font-size: 2.3rem; }
  nav div ul li a {
    font-size: 1.5rem; }
  /* index */
  .carousel-caption h1 {
    padding-left: 1%;
    font-size: 2.2rem; }
  .main-container {
    flex-direction: column; }
  .image-container, .text-container {
    padding: 3%; }
  /* tablas */
  .cuerpoTablas h1 {
    font-size: 2rem; }
  .cards {
    flex-direction: column;
    align-items: center; }
  .tablas {
    margin: 5%;
    width: 220px; }
    .tablas h2 {
      font-size: 2rem; }
    .tablas p {
      font-size: 0.8rem; }
  /* nosotros */
  .cuerpo-nosotros div h1 {
    font-size: 2rem; }
  .nosotros {
    flex-direction: column;
    align-items: center; }
    .nosotros div {
      width: 220px; }
      .nosotros div img {
        width: 220px; }
      .nosotros div h2 {
        font-size: 1.4rem; }
  /* contacto */
  .cuerpo-contacto {
    height: 88vh; }
    .cuerpo-contacto h1 {
      font-size: 2rem; }
  form fieldset {
    width: 75%; }
    form fieldset div {
      font-size: 1.3rem; }
      form fieldset div input {
        width: 300px;
        height: 30px; }
      form fieldset div select {
        width: 300px;
        height: 30px; }
      form fieldset div textarea {
        width: 300px;
        height: 100px; }
      form fieldset div .submit {
        width: 300px;
        height: 30px;
        font-size: 1.3rem; }
  /* footer */
  footer {
    height: 4rem; }
    footer h3 {
      font-size: 1.2rem; }
    footer a img {
      width: 20px; } }

@media (max-width: 425px) {
  /* tablas */
  .cuerpoTablas h1 {
    padding: 1%;
    font-size: 1.7rem; }
  .cuerpoTablas h2 {
    font-size: 1.1rem; }
  .cuerpoTablas p {
    font-size: 0.7rem; }
  .tablas {
    width: 190px; }
  /* galeria */
  .galeria h1 {
    font-size: 1.5rem; }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr); }
  /* contacto */
  form fieldset {
    width: 85%; }
  /* footer */
  footer {
    height: 3.5rem; }
    footer h3 {
      font-size: 1rem; }
    footer a img {
      width: 18px; } }

@media (max-width: 320px) {
  /* header */
  header .logo img {
    width: 30px; }
  .material-icons {
    font-size: 1.5rem; }
  nav div ul li a {
    font-size: 1.2rem; }
  /* index */
  .carousel-caption h1 {
    font-size: 1.5rem; }
  .image-container img, .text-container img {
    width: 200px; }
  .text-container h2 {
    font-size: 1rem; }
  .text-container p {
    font-size: 0.5rem; }
  /* tablas */
  .cuerpoTablas h1 {
    font-size: 1.5rem; }
  .cuerpoTablas h2 {
    font-size: 1rem; }
  .cuerpoTablas p {
    font-size: 0.6rem; }
  .fotos div {
    width: 200px; }
    .fotos div img {
      width: 200px; }
    .fotos div h2 {
      font-size: 1rem; }
    .fotos div p {
      font-size: 0.6rem; }
  /* nosotros */
  .cuerpo-nosotros div h1 {
    font-size: 1.5rem; }
  .cuerpo-nosotros div p {
    font-size: 0.8rem; }
  .nosotros div h2 {
    font-size: 1.2rem; }
  .nosotros div p {
    font-size: 0.8rem; }
  /* contacto */
  .cuerpo-contacto h1 {
    font-size: 1.5rem; }
  form fieldset {
    width: 75%; }
    form fieldset div {
      font-size: 1rem; }
      form fieldset div input {
        width: 200px;
        height: 20px; }
      form fieldset div select {
        width: 200px;
        height: 20px; }
      form fieldset div textarea {
        width: 200px;
        height: 80px; }
      form fieldset div .submit {
        width: 200px;
        height: 20px;
        font-size: 1rem; }
  /* footer */
  footer {
    height: 3rem; }
    footer h3 {
      font-size: 0.8rem; }
    footer a img {
      width: 15px; } }
