// colores//

$bg-header:#37587E;
$bg-main:#a8dff9;
$bg-footer:#ECB159;
$font-h-header:#a8dff9;
$font-h-main:#37587E;
$font-h-footer:black;
$hover: #ECB159;


// tamaños de fuentes//

$navbar:2.3rem;
$h1-index:4rem;
$h1:3rem;
$h2:2.5rem;
$footer:1.7rem;
$p:1rem;


// bordes//

$b-rad:2%;
$border: 1px solid #ECB159;