/*main de contacto*/


.cuerpo-contacto {
  margin-bottom: 3%;
  background-image: url(../assets/img/contacto-fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  h1{
    @include h1(center, 3rem);
  }
}



/*formulario*/


form {
  display: flex;
  justify-content: center;
  padding-bottom: 3%; 
  fieldset {
    width: 40%;
    padding: 3%;
    @include flex(column, none, center);
    background-color: rgba(0, 0, 0, 0.308);
    border: none;
    div {
      padding: 2%;
      font-size: $p;
      color: white;
      text-shadow: 1px 1px 4px black;
      label {
        display: flex;
      }
      input {
        width: 400px;
        height: 32px;
      }
      select {
        width: 400px;
        height: 32px;
      }
      textarea {
        width: 400px;
        height: 160px;
      }
      .submit {
        width: 400px;
        height: 32px;
        background-color: #a8dff9;
        border: #a8dff9;
        font-family: 'Irish Grover', system-ui;
        font-size: $p;
      }
    }
  }
}

