/*main de galeria*/


.galeria {
  margin-bottom: 3%;
  padding: 0 3% 3% 3%;
  background-image: linear-gradient(#37587E, #a8dff9, white);
  h1 {
    @include h1(center, 3rem);
    color: white;
    text-shadow: 1px 1px 4px black  }
  p{
    padding: 0 10% 3%;
    font-size: $p;
    text-align: center;
    color: white;
    font-weight: 400;
    text-shadow: 0 0 4px #37587E;
  }
}
.grid-container {
  @include grid (repeat(4, 1fr), repeat(3, 1fr), center, none, none);
  row-gap: 50px;
  img{
    width: 240px;
    border: $border;
    border-radius: $b-rad;
    transition: transform 3000ms ease;
    &:hover{
      transform: scale(1.2);
    }
  }
}