/*main del index*/

.carousel-caption{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  h1{
    @include h1(none, 4.5rem);
  }
}

.main-container {
  margin: 3% 0;
  padding: 3%;
  background-color: $bg-main;
  display: flex;
  justify-content: space-around;
}

.image-container {
  @include flex(column, none, center);
  img {
    width: 300px;
    border-radius: $b-rad;
    border: $border;
  }
}

.text-container {
  @extend .image-container;
  padding-top: 3%;
  h2{
    color: $font-h-main;
  }
  p{
    font-weight: bold;
  }
}
