/* MEDIA QUERIES */


/* TABLET */


@media (max-width: 1023px) {
  /* index*/
  .portada p{
    width: 35%;
  }
  .text-container p{
    width: 100%;
  }
  /* tablas*/
  .cards{
    justify-content: space-between;
  }
  /* galeria*/
  .grid-container {
    row-gap: 30px;
    .carrito {
      width: 200px;
    }
  }
  /*contacto*/
  fieldset div{
    label{width: 280px;}
    input{width: 280px;}
    select{width: 280px;}
    textarea{width: 280px;}
    iframe{width: 280px; height: 67.19px;}
    .submit{width: 280px;}
  }
  .map{
    p{width: 280px;}
    iframe{width: 280px;}
  }
  .bottom div{
    h3{
      font-size: 1.3rem;
    }
    p{
      font-weight:normal;
    }
  }
}


@media (max-width: 900px) {
  /* galeria */
  .grid-container {
    row-gap: 20px;
    .carrito {
      width: 160px;
      h3{
        font-size: 1rem;
      }
    }
  }
  // tablas*/
  .cards .tablas{
    width: 210px;
  }
  /* contacto */
  form fieldset {
    width: 100%;
  }
}


@media (max-width: 768px) {
  /* header */
  header .logo {
    align-self: flex-start;
    img {
      width: 50px;
    }
  }
  nav{
    .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
    }
    ul {
    flex-direction: column;
    align-items: flex-end;
    padding: 8px;
    li a {
      font-size: 2rem;
      }
    }
    label {
    padding: 1%;
    display: flex;
    justify-content: end;
    cursor: pointer;
    }
    #toggle:checked ~ .menu {
    height: 100%;
    }
  }
  /* index */
  .carousel-caption h1 {
    padding: 1%;
    font-size: 3rem;
  }
  .image-container img {
    width: 250px;
  }
  .text-container {
    h2 {
    font-size: 1.3rem;
    }
    p {
    font-size: 0.8rem;
    }
  }
  /* tablas */
  .cuerpoTablas{
    h1 {
    padding: 1%;
    font-size: 2.5rem;
    }
    h2{
      font-size: 1.5rem;
    }
    p {
    font-size: 0.8rem;
    }
  }
  .cards .tablas{
    width: 190px;
  }
  h2 {
    font-size: 2rem;
    }
  p {
    font-size: 0.8rem;
    }
  
  /* galeria */
  .galeria h1 {
    padding: 1%;
    font-size: 2.5rem;
  }
  .modelo{
    font-size: 1.7rem;
  }
  .grid-container .carrito{
    width: 150px;
  }
  /* nosotros */
  .cuerpo-nosotros div{
    h1 {
    padding: 1%;
    font-size: 2.5rem;
    }
    p {
    font-size: 0.8rem;
    }
  }
  .nosotros div {
    width: 220px;
    img {
    width: 220px;
    }
    h2 {
    font-size: 1.3rem;
    }
    p {
    font-size: 0.8rem;
    }
  }
  /* contacto */
  .cuerpo-contacto h1 {
    padding: 1%;
    font-size: 2.5rem;
  }
  .contacto{
    flex-direction: column;
  }
  fieldset div{
    label{width: 320px;}
    input{width: 320px;}
    select{width: 320px;}
    textarea{width: 320px;}
    iframe{width: 300px; height: 70px;}
    .submit{width: 320px;}
  }
  .map{
    p{width: 320px;}
    iframe{width: 320px;}
  }
  form fieldset {
    margin-bottom: 2rem;
  }
  .bottom{
    flex-direction: column;
    padding-top: 0%;
    div{
      margin-bottom: 2rem;
      width: 100%;
    }
  }
  /* footer */
  footer {
    height: 5rem;
    h3 {
    font-size: 1.5rem;
    }
    a img {
    width: 25px;
    }
  }
}



@media (max-width: 675px) {
  // index
  .image-container img {
    width: 220px;
  }
  /* tablas */
  .cuerpoTablas{
    h2{
      font-size: 1.3rem;
    }
  }
  .cards .tablas{
      width: 165px;
    }
  /* galeria */
  .galeria h1 {
    font-size: 2rem;
  }
  .grid-container {
    padding: 3%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 32px;
    .carrito{
    width: 180px;
    }
  }
}



@media (max-width: 576px) {
  /* header */
  header .logo img {
    width: 40px;
  }
  .material-icons {
    font-size: 2.3rem;
  }
  nav div ul li a {
    font-size: 1.5rem;
  }
  /* index */
  .carousel-caption h1 {
    padding-left: 1%;
    font-size: 2.2rem;
  }
  .main-container {
    flex-direction: column;
  }
  .portada{
    flex-direction: column;
    p{
      width: 75%;
      text-align: center;
      padding-bottom: 1rem;
    }
  }
  /* tablas */
  .cuerpoTablas {
    h1{
    font-size: 2rem;
    }
  }
  .cards{
    flex-direction: column;
    align-items: center;
    .tablas{
      margin: 5%;
      width: 220px;
      h2 {
        font-size: 2rem;
        }
      p {
        font-size: 0.8rem;
      }
    }
  }
  /* nosotros */
  .cuerpo-nosotros div {
    h1 {
    font-size: 2rem;
    }
  }
  .nosotros {
    flex-direction: column;
    align-items: center;
    div {
      width: 220px;
      img {
        width: 220px;
      }
      h2 {
        font-size: 1.4rem;
      }
    }
  }
  /* contacto */
  .cuerpo-contacto{
    h1 {
      font-size: 2rem;
    }
  }
  form fieldset {
    div {
      width: 280px;
      font-size: 1rem;
      label{
        width: 280px;
      }
      input {
        width: 280px;
        height: 28px;
      }
      select {
        width: 280px;
        height: 28px;
      }
      textarea {
        width: 280px;
        height: 80px;
      }
      iframe{
        display: none;
      }
      .submit {
        width: 280px;
        height: 28px;
        font-size: 1rem;
      }
    }
  }
  .map{
    p{width: 280px;}
    iframe{width: 280px;}
  }
  /* footer */
  footer {
    height: 4rem;
    h3 {
    font-size: 1.2rem;
    }
    a img {
    width: 20px;
    }
  }
}


@media (max-width: 425px) {
  /* tablas */
  .cuerpoTablas{
    h1 {
    padding: 1%;
    font-size: 1.7rem;
    }
    h2{
      font-size: 1.1rem;
    }
    p {
    font-size: 0.7rem;
    }
  }
  .cards .tablas{
    width: 190px;
  }
  /* galeria */
  .galeria h1 {
    font-size: 1.5rem;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  form fieldset {
    div {
      width: 240px;
      font-size: 0.8rem;
      label{
        width: 240px;
      }
      input {
        width: 240px;
        height: 24px;
      }
      select {
        width: 240px;
        height: 24px;
      }
      textarea {
        width: 240px;
        height: 70px;
      }
      .submit {
        width: 240px;
        height: 24px;
        font-size: 0.8rem;
      }
    }
  }
  .map{
    p{width: 240px;}
    iframe{width: 240px;}
  }
  /* footer */
  footer {
    height: 3.5rem;
    h3 {
    font-size: 1rem;
    }
    a img {
    width: 18px;
    }
  }
}

@media (max-width: 320px) {
  /* header */
  header .logo img {
    width: 30px;
  }
  .material-icons {
    font-size: 1.5rem;
  }
  nav div ul li a {
    font-size: 1.2rem;
  }
  /* index */
  .carousel-caption h1 {
    font-size: 1.5rem;
  }
  .image-container img {
    width: 200px;
  }
  .text-container{
    h2{
    font-size: 1rem;
    }
    p {
    font-size: 0.5rem;
    }
  }
  /* tablas */
  .cuerpoTablas{
    h1{
    font-size: 1.5rem;
    }
    h2{
      font-size: 1rem;
    }
    p {
    font-size: 0.6rem;
    }
  }
  .fotos div {
    width: 200px;
    img {
    width: 200px;
    }
    h2 {
    font-size: 1rem;
    }
    p {
    font-size: 0.6rem;
    }
  }
  /* nosotros */
  .cuerpo-nosotros div{
    h1{
    font-size: 1.5rem;
    }
    p {
    font-size: 0.8rem;
    }
  }
  .nosotros div {
    h2{
    font-size: 1.2rem;
    }
    p {
    font-size: 0.8rem;
    }
  }
  /* contacto */
  .cuerpo-contacto h1 {
    font-size: 1.5rem;
  }
  form fieldset {
    div {
      width: 200px;
      label{
        width: 200px;
      }
      input {
        width: 200px;
        height: 20px;
      }
      select {
        width: 200px;
        height: 20px;
      }
      textarea {
        width: 200px;
        height: 80px;
      }
      .submit {
        width: 200px;
        height: 20px;
      }
    }
  }
  /* footer */
  footer {
    height: 3rem;
    h3 {
    font-size: 0.8rem;
    }
    a img {
    width: 15px;
    }
  }
}