/*main de nosotros*/


.cuerpo-nosotros {
  margin-bottom: 3%;
  background-color: $bg-main;
  h1{
    @include h1(center, 3rem);
  }
  p{
    padding: 0 12% 3%;
    font-size: $p;
    text-align: center;
  }
}
.nosotros {
  display: flex;
  justify-content: space-evenly;
  div {
    width: 400px;
    @include flex(column, none, center);
    img {
      border-radius: $b-rad;
      box-shadow: $border; 
    }
    h2 {
      padding-top: 1rem;
      font-size: $h2;
      color: $font-h-main;
    }
    p {
      padding:0 0 3% 0;
      font-size: $p;
    }
  }
}

.locales{
  padding: 3rem;
  h3 {
    color: $font-h-main;
  }
  div{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}